@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;700;800&display=swap");

:root {
  --main-font: #202938;
  --secondary-font: #4d576b;
  --input-font: #b2b9c4;
  --button-color: #444bf7;
  --button-hover: #383ecc;
  --button-font: #ffffff;
  --close-button: #8691a5;
  --close-button-hover: #606775;
  --sent-color: #38c983;
  --error-color: #e40000;
  --modal-color: #ffffff;
  --form-input-color: #d9dfe8;
}

html {
  height: 100%;
}

body {
  height: 100%;
  width: 100%;
  color: var(--main-font);
  font-family: "Inter", sans-serif;
  font-size: 1rem;
  margin: 0;
}

a {
  text-decoration: none;
  color: var(--main-font);
}

a:hover {
  color: var(--button-color);
}

p {
  margin: 0;
}

.primary-container {
  padding-left: 1.5rem;
  padding-right: 1.5rem;
}

#header {
  padding-top: 2rem;
  padding-bottom: 2rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

#main {
  padding-top: 1rem;
  padding-bottom: 1rem;
}

.button {
  border: none;
  cursor: pointer;
  color: var(--button-font);
  font-weight: 600;
  background: var(--button-color);
  outline: none;
  font-size: 1.25rem;
  border-radius: 1.5rem;
  box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.04), 0px 2px 6px rgba(0, 0, 0, 0.04),
    0px 0px 1px rgba(0, 0, 0, 0.04);
  padding: 0.875rem 1.5rem;
}

.button:hover {
  background: var(--button-hover);
}

.button-large {
  width: 100%;
  padding: 1.25rem;
  font-size: 1.5rem;
  border-radius: 2rem;
}

.button-small {
  padding: 0.75rem 1rem;
  border-radius: 1.25rem;
  font-size: 1rem;
  box-shadow: none;
}

.nav {
  display: none;
}

.section {
  padding-bottom: 2.5rem;
}

.intro-title {
  font-size: 2.25rem;
  line-height: 110%;
  margin: 0;
  padding-bottom: 1.5rem;
}

.authors {
  display: flex;
  align-items: center;
  font-size: 0.875rem;
  color: var(--secondary-font);
  line-height: 1.25rem;
}
.authors-item {
  margin-right: 0.625rem;
}
.author-pic {
  width: 1.75rem;
  border-radius: 3.125rem;
}

#book {
  margin: 0;
}

.book-cover {
  width: 100%;
  box-shadow: 0px 4px 6px -2px rgba(0, 0, 0, 0.05),
    0px 10px 15px -3px rgba(0, 0, 0, 0.1);
}

.hero-text {
  line-height: 180%;
  margin-bottom: 1.5rem;
}

.italics {
  font-style: italic;
}
