@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;700;800&display=swap");

:root {
  --main-font: #202938;
  --secondary-font: #4d576b;
  --input-font: #b2b9c4;
  --button-color: #444bf7;
  --button-font: white;
  --sent-color: #38c983;
}

html {
  height: 100%;
}

body {
  height: 100%;
  width: 100%;
  color: var(--main-font);
  font-family: "Inter", sans-serif;
  font-size: 1rem;
  margin: 0;
}

p {
  margin: 0;
}
.button {
  border: none;
  cursor: pointer;
  color: var(--button-font);
  font-weight: 600;
  background: var(--button-color);
}
#header {
  padding: 2rem;
  /* background-color: orange; */
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.nav {
  display: none;
}
.section {
  padding-bottom: 2.5rem;
}

#main {
  padding: 1rem 1.5rem;
  /* background-color: violet; */
}

#intro {
  /* background-color: yellow; */
}

.intro-title {
  font-size: 2.25rem;
  line-height: 110%;
  margin: 0;
  padding-bottom: 1.5rem;
}

#intro-authors {
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-size: 0.875rem;
  color: var(--secondary-font);
  /* background-color: red; */
  line-height: 1.25rem;
}

.author-pic {
  width: 1.75rem;
  border-radius: 3.125rem;
}

#book {
  /* background-color: aquamarine; */
  margin: 0;
}

.book-cover {
  width: 100%;
  box-shadow: 0px 4px 6px -2px rgba(0, 0, 0, 0.05),
    0px 10px 15px -3px rgba(0, 0, 0, 0.1);
}

#hero {
  /* background-color: wheat; */
}

.hero-text {
  line-height: 180%;
  margin-bottom: 1.5rem;
}

.italics {
  font-style: italic;
}

#download-button {
  width: 100%;
  margin: auto;
  padding: 1.25rem;
  font-size: 1.5rem;
  border-radius: 2rem;
}

@media only screen and (min-width: 1440px) {
  #header {
    padding: 2rem 11.25rem;
  }
  .small-button {
    padding: 0.75rem 1rem;
    border-radius: 1.25rem;
  }
  .burger-menu {
    display: none;
  }
  .nav {
    display: initial;
  }
  .nav-list {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    padding: 0;
    list-style-type: none;
    font-weight: 600;
  }

  .nav-item {
    padding-right: 2rem;
  }

  .nav-button {
    margin-left: 1rem;
  }

  #main {
    padding: 10rem 0;
    margin: auto;
    max-width: 67.5rem;
    display: grid;
    grid-template-columns: 50% 50%;
    grid-template-rows: auto;
    justify-items: start;
    align-items: start;
  }

  #intro {
    grid-row-end: span 1;
    grid-column-start: 2;
  }

  .intro-title {
    font-size: 3.5rem;
  }

  #intro-authors {
    justify-content: flex-start;
  }

  .authors-item {
    margin-right: 0.625rem;
  }

  .hero-text {
    max-width: 33rem;
  }

  #download-button {
    width: initial;
    padding: 1.25rem 2.5rem;
  }

  #book {
    grid-row-start: 1;
    grid-row-end: span 2;
    grid-column-start: 1;
    width: 23.4375rem;
  }
}
